html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
nav{
    background-color:  #4b7263;
}

.icono {
    align-self: center;
    width: 20%;
    height: 20%;
    padding-top: 15%;
    padding-bottom: 5%;
    
}
#menu{
    justify-content: center;
    margin-top: 20%;
    margin-bottom: 10%;
}
#grafica{
    align-items: center;
    height: 35%;
    width: 35%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.bloque {
    padding-left: 30%;
    padding-right:30%;
}
.blocktxt {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;
}
.formulario {
    display: none;
    padding-bottom: 3%;
}
.form-group {
    margin: 2.5%;

}
#saldoActual{
    font-family: Helvetica;
    size: 25px;
    
}