body {
    background-image: url('../img/Banco.png'); /* Ajusta el path a donde tengas la imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente para el contenido */
    border-radius: 10px;
    padding: 20px;
}


