/* Estilo */
/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/ /*Quitar despues, pero primero evaluar*/

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Estilo de la barra de navegación */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

/* Estilo de los enlaces de navegación */
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    color: #ddd;
}

/* Ocultar el checkbox */
#menu-toggle {
    display: none;
}

/* Estilo para el botón de menú en para celulares */
.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
    }

    .nav-links li {
        margin: 15px 0;
    }

    #menu-toggle:checked + .menu-icon + .nav-links {
        display: flex;
    }

    .menu-icon {
        display: block;
    }
}